// Colors

$primaryColor: hsl(300, 43%, 22%);
$softPink:hsl(333, 80%, 67%);

$darkMagenta: hsl(303, 10%, 53%);
$grayMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%) ;

// Media queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

//Typography
$primaryFont: 'Spartan', sans-serif;