@use "../base/variables" as v;
@use "../base/mixins" as m;

.footer {
  display: none;

  @include m.desktop {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: v.$darkMagenta;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    &__link {
      text-decoration: none;
      color: v.$softPink;
      font-weight: 500;
    }
  }
}
